@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}

.bg-gradient-radial {
  background: radial-gradient(circle at 65% 43%, rgba(41, 56, 104, 1) 0%, rgba(13, 14, 56, 1) 87%);
}

/* body {
  font-family: $font-family, sans-serif;
  color: $font-color-light;
  background-color: $background-color-dark;
  font-size: 16px;
  font-weight: $font-weight-light;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
} */
