@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

.bg-gradient-radial {
  background: radial-gradient(circle at 65% 43%, rgba(41, 56, 104, 1) 0%, rgba(13, 14, 56, 1) 87%);
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
